modules = ["python-3.12"]
run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--reload"]

[nix]
channel = "stable-24_05"

[deployment]
build = "git submodule init && git submodule update --remote"
run = ["uvicorn", "main:app", "--host", "0.0.0.0"]
deploymentTarget = "gce"
ignorePorts = true

[[ports]]
localPort = 8000
externalPort = 80
