APScheduler==3.11.0
fastapi==0.115.7
langchain==0.3.15
langchain_core==0.3.31
langchain_openai==0.3.1
pydantic==2.10.5
pytwitter==0.5
Requests==2.32.3
SQLAlchemy==2.0.36
starlette==0.45.2
tiktoken==0.7.0
